body{
    background-color: #d3bf97;
    font-family: Arial, Helvetica, sans-serif;
    color: #515226;
}

h2{
    color: #515226;
    font-size: 3rem;
    margin-left: 400px;
    text-shadow: 2px 2px 4px #d3bf97;
}

input{
    padding: 10px;
    margin: 5px 0;
    width: 50%;
    background-color: #d3bf97;
    border: 1px solid #515226;
    border-radius: 4px;
    font-style: italic;
    box-shadow: 2px 2px 4px #515226;
    color: #515226  !important;
    font-weight: 900;
}
button{
    padding: 10px;
    margin: 5px 0;
    width: 20%;
    background-color: #515226;
    color: #d3bf97;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 280px;
    margin-top: 40px;
    box-shadow: 2px 2px 4px #d3bf97;
}
button:hover{
    background-color: #d3bf97;
    color: #515226;
    box-shadow: 0px 0px 10px #515226;
}

#result{
    margin: 15px 0;
    font-weight: bold;
    color: #515226;
    text-shadow: 2px 2px 4px #d3bf97;
}

p{
    font-weight: bold;
    color: #515226;
    text-shadow: 2px 2px 4px #d3bf97;
}

